

@import "slick-carousel/slick/slick.css";
@import "react-modal-video/css/modal-video.css"; 
@import "react-18-image-lightbox/src/style.css";
@import "react-circular-progressbar/dist/styles.css";
@import "@splidejs/react-splide/css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "swiper/css/bundle";
@import "../../public/assets/scss/main.scss";